.menu {
  display: none;
}

@media all and (max-width: 800px) {
  .menu_burger {
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    background-color: black;
  }

  /* .logo {
    
  } */

  .menu {
    display: block;
    position: absolute; /*Sætter sig i højre side */
    top: 20px;
    right: 20px;
  }

  .nav_list li {
    display: block; /* Menupunkter sætter sig under hinanden */
    border-bottom: 1px solid black;
  }

  .nav_list {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0%;
    margin: 0%;
  }
  /* Åbner menu med punkter under hinanden */
  .active {
    display: none;
  }
}
